* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: rgb(215, 229, 178);
}

.start-btn {
    position: absolute;
    top: 40%;
    left: 40%;
}

.quiz-page{
    opacity: 0;
    position: absolute;
    top: 200px;
    left: 200px;
    background: white;
    width: 600px;
    border-radius: 10px 10px 10px 10px;
    pointer-events: none;
}

.quiz-page.clicked {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}

.start-btn button {
    font-size: larger;
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;

}

.quiz-page header {
    display: flex;
    align-items: center;
    text-align: right;
    padding: 20px 30px;
    justify-content: right;

}

.quiz-page .timer {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    width: 140px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: larger;
    background-color: rgb(215, 229, 178);
    user-select: none;
    
}

.quiz-page section {
    padding: 30px 30px 15px 30px;
    background: white;
}

.quiz-page section .question {
    font-size: 20px;
    font-weight: bold;
}

.quiz-page section .answers {
    display: block;
    padding: 20px;
}

.quiz-page section .options {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 2px solid rgb(215, 229, 178);
    border-radius: 5px;
    background:rgb(238, 242, 229);
}

.quiz-page section .options:hover {
    background-color: rgb(219, 233, 188);
}

.results {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    top: 40%;
    left: 35%;
    background: white;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}

.results .ended-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.final-score {
    align-items: center;
}

.results .final-score span {
    display: flex;
    margin: 10px 0;
    font-size: 20px;

}

.results .final-score p {
    font-size: 20px;
    padding: 0 10px;    
}

.results button {
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid black;
    font-size: 15px;
    background-color:rgb(219, 222, 209) ;
    cursor: pointer;
}

.results button:hover {
    background-color: rgb(215, 229, 178);
}
