* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: rgb(215, 229, 178);
}

.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
}

.start-btn button {
    font-size: larger;
    padding: 20px 20px;

}